%html
  %head
    %title CS2-Reviewer
    %link{rel: 'stylesheet', href: '/css/bootstrap.min.css'}
    %script{src: '/js/bootstrap.bundle.min.js'}
  %body
    %div.container-fluid.vh-100.overflow-hidden.p-5
      %div.row.h-100.overflow-hidden.border
        != yield
